.navbar-brand {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 0.5rem;
  height: var(--pst-header-height);
  margin: 0;
  max-height: var(--pst-header-height);
  padding: 0.5rem 0;
  position: relative;
  width: auto;
}

.navbar-brand .logo__image {
  height: 100%;
}

.bd-sidebar-secondary .onthispage {
  height: 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--pst-color-muted);
  justify-content: flex-start;
  gap: 10px;
}

.hero-background {
  background-image: url(/static/media/bg_ball_blue.99369d5….png),
    url(/static/media/bg_ball_orange.8f253ea….png);
  background-position: left 200px, right 400px;
  background-repeat: no-repeat;
}

.landing-page {
  display: flex;
  flex-direction: column;
}

.bd-container .bd-container__inner {
  display: flex;
  flex-basis: content;
}

.sd-card .sd-card-img-top {
  height: 52px;
  width: 52px;
  margin-left: auto;
  margin-right: auto;
}

.feedback--container {
  position: absolute;
  position: fixed;
  color: inherit;
  font-style: inherit;
  font-size: inherit;
  /* background-color: #d3d7db; */
  background-color: var(--pst-color-background);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  z-index: 10;
  bottom: 0px;
  right: 0px;
  right: 10px;
  height: 55px;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 1) 0px 4px 48px;
  /* background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s; */
}

.feedback--container.active {
  height: auto;
  /* transition-duration: 1s;
  background-position: -2800px 0; */
}

.feedback--box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
  background: linear-gradient(120deg, #121212, #707070, #ffffff);
  background: linear-gradient(120deg, #121212, #292929, #414141, #595959, #707070, #888888, #A0A0A0, #B7B7B7, #CFCFCF, #E7E7E7, #ffffff);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.feedback--box:after {
  animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

/* motion */
@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
  }
}

.feedback--title {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  height: 65px; */
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  cursor: pointer;
  border-bottom: 1px solid var(--pst-color-border);
}

.feedback--text {
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  line-height: 24px;
}

.feedback--arrow {
  fill: currentColor;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  max-width: 100%;
  width: 20px;
  height: 20px;
  position: relative;
  vertical-align: baseline;
  vertical-align: text-bottom;
  font-weight: 900;
  display: inline-block;
}

.feedback--arrow.active {
  transform: rotate(180deg);
}

/* Tooltip style */
[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #f5f5f5;
  color: black;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  z-index: 10;
  /* Ensure tooltip stays above other elements */
  /* Add other styling properties as desired */
}

.feedback--form {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.form--item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  margin: 0px 0px 1.5rem;
  padding: 0px;
}

.form--item.multiple {
  /* display: flex; */
  flex-direction: row;
  column-gap: 10px;
}

.form--label {
  color: var(--text-color-primary);
  position: relative;
  height: 16px;
  text-align: left;
  font-size: inherit;
  /* font-weight: bold; */
  line-height: 16px;
  letter-spacing: 0.02rem;
}

.form--input {
  color: var(--text-color-primary);
  height: 3rem;
  width: 100%;
  font-size: inherit;
  line-height: 3rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  padding-left: 10px;
  margin-top: 5px;
}

.form--textarea {
  height: auto;
}

.form--editor {
  background-color: inherit;
}

/* .form--buttons {
  width: 100%;
  margin-top: 16px;
  font-size: 1.2rem !important;
  line-height: 3rem;
  border-radius: 5px;
  outline: none;
  cursor: not-allowed;
  padding-left: 10px;
  transition: all 150ms ease-in-out 0s;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
} */

.form--button {
  background-color: var(--button-background-color-primary);
  background-color: var(--sd-color-secondary);
  background-color: var(--pst-color-text-base);
  color: var(--button-text-color-primary);
  color: var(--bs-btn-color);
  color: var(--pst-color-background);
  border: none;
  /* border: 0.1rem solid var(--text-color-primary); */
  /* border: 0.1rem solid #0d6efd; */
  border-radius: 0.5rem;
  text-align: center;
  font-size: inherit;
  width: 100%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 1s ease-out;
}

/* .form--button.danger {
  background-color: var(--background-color-danger);
} */

/* .form--button:hover {
  filter: drop-shadow(0 0 1.5rem var(--drop-shadow-primary));
} */

.form--svgcheck {
  display: none;
  vertical-align: baseline;
  width: 1.5rem;
}

.form--svgcheck.active {
  display: block;
}

.form--checkmark {
  stroke: green;
  stroke-dashoffset: 745.7485351563;
  stroke-dasharray: 745.7485351563;
  -webkit-animation: dash 2s ease-out forwards infinite;
          animation: dash 2s ease-out forwards infinite;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 745.7485351563;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.7485351563;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.bd-main .bd-content {
  justify-content: center;
}

.video-container {
  width: 100%;
}

.video-item {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  /* box-shadow: 1px 1px 5px #818181; */
  /* -webkit-box-shadow: 1px 1px 5px #818181; */
  box-shadow: 1px 1px 5px #818181;
  -moz-box-shadow: 1px 1px 5px #818181;
}

@media only screen and (min-width: 964px) {
  .video-container {
    width: 50%;
  }
  .video-item {
    width: 530px;
    height: 265px;
  }
}
