.navbar-brand {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 0.5rem;
  height: var(--pst-header-height);
  margin: 0;
  max-height: var(--pst-header-height);
  padding: 0.5rem 0;
  position: relative;
  width: auto;
}

.navbar-brand .logo__image {
  height: 100%;
}

.bd-sidebar-secondary .onthispage {
  height: 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--pst-color-muted);
  justify-content: flex-start;
  gap: 10px;
}