*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, :focus {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #62a4ae;
  transition: color .2s ease-in-out;
}

#footer-links {
  background: #202020;
  padding: 40px 0;
  width: 100%;
}

.container-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

@media (min-width: 1024px) {
  .container-wrapper {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .container-wrapper {
    width: 100%;
  }
}

.container-wrapper .row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

@media (min-width: 1024px) {
  #footer-links .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 1440px) {
  .container-wrapper .row .column.xlarge-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
}

@media (min-width: 1440px) {
  .container-wrapper .row .column.xlarge-offset-1 {
    margin-left: 0%;
  }
}

.container-wrapper .row .column.small-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.container-wrapper .row .column {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

#footer-links .footer-container .footer-items {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  #footer-links .footer-container .footer-items {
    flex-direction: row;
    align-items: center;
  }
}

#footer-links .footer-container .footer-items li a {
  display: block;
  height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Overpass",sans-serif;
  font-weight: 700;
  margin: 5px 0;
  font-size: 1rem;
  color: #ffffff;
  transition: color .2s ease-in-out;
}

@media (min-width: 1024px) {
  #footer-links .footer-container .footer-items li a {
    margin: 2px 0 0 20px;
    height: auto;
    font-size: .9rem;
  }
}

#footer-links .footer-container .footer-items li.logo a {
  height: 40px;
  margin: 0 0 20px;
}

@media (min-width: 1024px) {
  #footer-links .footer-container .footer-items li.logo a {
    margin: 0;
  }
}

#footer-links .footer-container .footer-items li.logo a img {
  height: 100%;
  margin-right: 20px;
}

img {
  border-style: none;
}

img.icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 1024px) {
  #footer-links .footer-container .social-media li a {
    font-size: 1.25rem;
    margin-left: 20px;
    display: inline;
    width: auto;
  }
}

#footer-links .footer-container .social-media {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

em, i {
  font-style: italic;
}

.fa-github:before {
  content: "\f09b";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-youtube-play:before {
  content: "\f16a";
}

.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a";
}