jupyter-book
matplotlib
numpy
pandas
pythia-datasets
sphinx-syft-theme
sphinx
-e git+https://github.com/callezenwaka/PySyft.git@8daa30a460b679585f4f6d0b9707bfc0110ca27a#egg=syft&subdirectory=packages/syft