.bg-jb-one {
    background-color: #52d16f3b;
}

.bg-jb-two {
    background-color: #e7dd7b73;
}

.bg-jb-three {
    background-color: #e7b07b96;
}


/* Tooltip style */
[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #f5f5f5;
    color: black;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    z-index: 10; /* Ensure tooltip stays above other elements */
    /* Add other styling properties as desired */
  }

  